<% include head %>
        <h1>我是一個demo！</h1>
        <!-- egs直接輸出語法 -->
        <p><span>姓名： </span><span><%=name%></span></p>
        <!-- ejs判斷語法 -->
        <p><span>年紀階段： </span>
            <% if (age < 18) { %>
                <span><%= "未成年" %></span>
            <% } else if (age >= 18 && age < 30) { %>
                <span><%= "青年" %></span>
            <% } else if (age >= 30 && age < 50) { %>
                <span><%= "中年" %></span>
            <% } else if (age >= 50) { %>
                <span><%= "老年" %></span>
            <% } else { %>
                <span><%= "年齡信息有誤" %></span>
            <%  } %>
        </p>
        <!-- ejs循環語法 -->
        <p>所有女朋友： </p>
        <% for (let i = 0; i < girlfriends.length; i++) { %>
            <p><span><%= i %>---</span><span><%= girlfriends[i] %></span></p>
        <% } %>
<% include footer %>